* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  text-decoration: none;
  list-style: none;
  background-color: #303030;
}

.header {
  background-color: #171763;
  width: 100%;
  padding: 10px 0 10px 0;
}

.header .header-section {
  max-width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background-color: #171763;
}

.header .header-section .title {
  color: white;
  font-size: 40px;
  font-weight: bold;
  background-color: #171763;
}

.header .header-section .btns-block {
  max-width: 220px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #171763;
}

.header .header-section .btns-block button {
  font-size: 14px;
  padding: 3px 10px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .header-section .btns-block .log-btn {
  background-color: #171763;
  border: none;
}

.header .header-section .btns-block .start-btn {
  border: 1px solid white;
  background-color: black;
}

.header .header-section .btns-block .log-btn:hover {
  color: #171763;
  background-color: white;
}

.header .header-section .btns-block .start-btn:hover {
  color: #171763;
  background-color: white;
}

.nav {
  background-color: black;
  width: 100%;
  padding: 5px 0 5px 0;
  margin-bottom: 35px;
}

.nav .nav-section {
  background-color: black;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 5px 0 5px 0;
}

.nav .nav-section a {
  background-color: black;
}

.nav .nav-section a h3 {
  background-color: black;
  color: white;
  padding: 3px 6px;
  border: 1px solid white;
  max-width: 140px;
  border-radius: 13px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-align: center;
}

.nav .nav-section a h3:hover {
  background-color: white;
  color: black;
}

.main .main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 800px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto 50px auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main .main-section .movies-block {
  max-width: 250px;
  cursor: pointer;
}

.main .main-section .movies-block a {
  display: block;
}

.main .main-section .movies-block a img {
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 16px;
  height: 350px;
}

.main .main-section .movies-block a img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main .main-section .movies-block p {
  color: white;
  font-size: 20px;
}

.main .main-section .series-block {
  max-width: 250px;
  cursor: pointer;
  margin-bottom: 20px;
}

.main .main-section .series-block a {
  display: block;
}

.main .main-section .series-block a img {
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 16px;
  height: 350px;
}

.main .main-section .series-block img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main .main-section .series-block p {
  color: white;
  font-size: 20px;
}

.footer {
  background-color: black;
  padding: 20px 0 0 0;
  width: 100%;
}

.footer .footer-section {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  background-color: black;
}

.footer .footer-section .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 675px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  opacity: 0.7;
  background-color: black;
  margin-bottom: 10px;
}

.footer .footer-section .footer-nav li {
  background-color: black;
}

.footer .footer-section p {
  color: white;
  opacity: 0.5;
  background-color: black;
}

.footer .footer-section .footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
}

.footer .footer-section .footer-bottom .bottom-left {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 150px;
  width: 100%;
}

.footer .footer-section .footer-bottom .bottom-left .fab {
  font-size: 35px;
  background-color: black;
  color: white;
}

.footer .footer-section .footer-bottom .bottom-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 350px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: black;
}

.footer .footer-section .footer-bottom .bottom-right img {
  width: 160px;
  height: 150px;
  background-color: black;
}

.main-section-movies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 50px auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-section-movies .movies-block {
  max-width: 250px;
  cursor: pointer;
  margin-bottom: 30px;
}

.main-section-movies .movies-block a {
  display: block;
}

.main-section-movies .movies-block a img {
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 16px;
  height: 350px;
}

.main-section-movies .movies-block a img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main-section-movies .movies-block p {
  color: white;
  font-size: 20px;
  margin-bottom: 5px;
}

.main-section-movies .movies-block h5 {
  color: white;
  opacity: 0.5;
}

@media screen and (max-width: 1000px) {
  .nav-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
  }
  .main-section-movies {
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
  }
  .header-section {
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-section {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
  }
  .footer-section ul {
    margin-bottom: 10px !important;
  }
  .footer-section P {
    margin-bottom: 10px !important;
    text-align: center !important;
  }
  .footer-section .footer-bottom {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
  }
}
/*# sourceMappingURL=style.css.map */